html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;"
}
.vertical { 
  border-left: 1px solid #8c8c8c; 
  height: 60px;  
  display:inline;
}
.header{
	width:100%;
  height:60px;
  background-color:#1a1a1a;
  position:fixed;
  z-index:1;
}
.header a {
	font-family: 'Mansalva', cursive;
  color: #00B8FF;
  text-decoration: none;
  font-size: 22px;
  text-shadow: 1px 1px 4px grey;
}
.active,.header a:hover{
  color:white;
  text-shadow: 1px 1px 4px grey,1px 1px 4px white;
}
.frontpage {
  font-family: 'Mansalva', cursive;
  padding: 60px;
  text-align: center;
  font-size: 150px;
  position: absolute;
  top: 60px; right: 0; bottom: 0; left: 0;
  text-shadow: 5px 5px 10px grey;
}
.buttons{
  padding:13px;
  display:inline-block;
	float:right;
}
.pages {
  font-family: 'Mansalva', cursive;
  padding: 60px;
  text-align: center;
  font-size: 30px;
  position: absolute;
  top: 60px; right: 0; bottom: 0; left: 0;
  margin:auto;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #1a1a1a;
}
.pages form{
  font-family: 'Mansalva', cursive;
  font-size:30px;
  border-radius:5px;
}
.pages select,textarea,input[type=text],[type=password],[type=email]{
  width:100%;
  font-size:20px;
  font-family: 'Times New Roman', cursive;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid grey;
}
.pages select:hover,textarea:hover,input:hover{
  border: 1px solid #00B8FF;
}
.pages input[type=button],input[type=submit]{
  font-size:20px;
  font-family: 'Mansalva', cursive;
  border-radius: 2px;
  padding: 10px;
  border: 1px solid #00B8FF;
  background-color: #00B8FF;
  color: #1a1a1a;
}
.pages input[type=button]:hover,input[type=submit]:hover{
  color:white;
  text-shadow: 2px 2px 4px grey,1px 1px 4px white;
  cursor:pointer;
  text-shadow: 2px 2px 4px grey; 
}
.pages table{
  padding:60px;
  border-radius: 20px;
  background-color:rgba(0,184,255,0.2);
}
.pages tr,td,label{
  width:300px;
  font-size:25px;
  padding: 0px;
  border-collapse: collapse;
  text-align: left;
}